#firstzone { 
    background-color: blue; 
    font-style: oblique; 
    color: white; 
} 
#secondzone { 
    background-color: blueviolet; 
    font-style: Helvetica;  
    color: white; 

}  
#thirdzone { 
    background-color: brown; 
    font-style: initial;  
    color: white; 

}  


